@import url('https://fonts.googleapis.com/css2?family=Kameron:wght@400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sono:wght@200..800&display=swap');
html { 
  height: 100%; 
  overflow-y: hidden;
}
body {
  height: 100%;
  min-height: 100%;
  background-image: radial-gradient(circle, #edd4b2, #f5e0c4);

  background-repeat: no-repeat;
  background-size: cover;
  user-select: none;
  font-family: Kameron, serif;
} 
#milkChocolate {
  width: 75px;
  height: 75px;
  background: #6b3e2a;
  color: #6b3e2a;
  border-top: 3px solid #a96c57;
  border-left: 3px solid #a96c57;
  border-bottom: 5px solid #502b27;
  border-right: 5px solid #502b27;
  margin-left: 10px;
  margin-top: 10px;
}
#dark-chocolate {
  width: 75px;
  height: 75px;
  background: #4d3739;
  color: #4d3739;
  border-top: 3px solid #946b65;
  border-left: 3px solid #946b65;
  border-bottom: 5px solid #361c17;
  border-right: 5px solid #361c17;
  margin-left: 10px;
  margin-top: 10px;
}
#white-chocolate {
  width: 75px;
  height: 75px;
  background: #f6dfbd;
  color: #f6dfbd;
  border-top: 3px solid #fff4e4;
  border-left: 3px solid #fff4e4;
  border-bottom: 5px solid #f0d4a6;
  border-right: 5px solid #f0d4a6;
  margin-left: 10px;
  margin-top: 10px;
  border-radius: 100%;
}
#salted-caramel-chocolate {
  width: 75px;
  height: 75px;
  background: red;
  color: #f6dfbd;
  border-top: 3px solid #fff4e4;
  border-left: 3px solid #fff4e4;
  border-bottom: 5px solid #f0d4a6;
  border-right: 5px solid #f0d4a6;
  margin-left: 10px;
  margin-top: 10px;
  border-radius: 100%;
}
.chocolate {
  display: inline-block;
  width: 75px;
  height: 75px;
}
.chocolate:hover {
  filter: grayscale(7%);
}
.chocolate:hover .tooltip {
  visibility: visible;
}
.chocolate:active {
  transform: scale(0.95);
}
.chocolate:active .tooltip {
  transform: scale(1.05);
  margin-top: 4px;
}
#bars, #money, #marketing {
  font-family: Kameron;
  font-size: 40px;
  max-width: 300px;
  text-align: center;
  margin-right: 5px;
}
.bars-wrapper {
  display: inline-flex;
  border: 3px solid #502b27;
  padding: 10px;
  background: #6b3e2a;
  color: white;
  margin-top: 5px;
}
.column {
  float: left; 
  height: 620px;
  width: 18%;
  margin: 0.9vw;
  margin-top: 30px;
  background: #a19b9a;
  border: 4px solid grey;
  z-index: 99999;
    overflow-y: visible;
    overflow-x: hidden;
    scrollbar-width: none;
}
.tooltip {
  visibility: hidden;
  width: 120px;
  background-color: rgba(75, 45, 40, 0.7);
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 99999999999999999999;
  top: 107%;
  left: 50%;
  margin-left: -60px;
  cursor: default;
}
#chocolate-types {
  width: 185px;
}
#production {
  font-family: Sono;
}
#project {
  overflow: scroll;
}
.map {
  width: 90%;
  border: 1px solid black;
  margin-left: 5%;
  height: 100px;
  background: #a96c57;
  margin-bottom: 5px;
  margin-top: 10px;
}
.map-item {
  background: #6b3e2a;
  padding: 3px;
  font-size: 12px;
  cursor: pointer;
  color: white;
  position: relative;
}
.map-item:hover {
  background: #946b65;
}
.buy-button {
  padding: 5px;
  background: #6b3e2a;
  border-top: 3px solid #a96c57;
  border-left: 3px solid #a96c57;
  border-bottom: 5px solid #502b27;
  border-right: 5px solid #502b27;
  color: white;
  margin-top: 5px;
  margin-left: 5%;
}
.buy-button:hover {
  transform: scale(1.01);
}
.buy-button:active {
  background: #4d3739;
  transform: scale(0.95);
}
button {
  cursor: pointer;
}
.amount-left {
  font-size: 15px;
  width: 88.5%;
  color: white;
  background: grey;
  border: 1px solid dimgrey;
  padding: 2px;
  font-family: Sono, monospace;
  margin-left: 5%;
}
a {
  color: white;
  text-decoration: none;
}
a:hover {
  color: lightgrey;
}
a:active {
  color: dimgrey;
}
.active {
  background: black;
}
.map-item.active:hover {
    background: #a19b9a;
}
.chip {
  width: 20px;
  height: 20px;
  background: #2bb530;
  border: 2px solid black;
  margin: 2px;
  display: inline-block;
}
.project-button {
  padding: 4px;
  background: grey;
  border-top: 2px solid darkgrey;
  border-left: 2px solid darkgrey;
  border-bottom: 4px solid dimgrey;
  border-right: 4px solid dimgrey;
  color: white;
  margin-top: 3px;
}
.project-button:disabled {
  opacity: 50%;
  cursor: auto;
}
.project-button:disabled:hover, .project-button:disabled:active {
  transform: scale(1);
  background: grey;
}
.project-button:hover {
  transform: scale(1.01);
}
.project-button:active {
  background: dimgrey;
  transform: scale(0.95);
}
.project {
  background: lightgrey;
  border: 1px solid dimgrey;
  width: 200px;
  height: auto;
  margin-top: 7px;
  padding: 5px;
  padding-bottom: 10px;
  cursor: pointer;
  text-align: center;
  margin-left: 5%;
  font-family: Kameron;
}
.project:hover {
  background: white;
  transform: scale(1.02, 1.02);
}
.project:active {
  background: grey;
  transform: scale(0.97, 0.97);
}
h1 {
  display: inline-block;
  font-size: 18px;
  line-height: 3px;
}
.project-text {
  margin-top: 1px;
  width: 190px;
}
.bubble {
  font-family: Kameron;
  position: absolute;
  padding: 5px;
  background: rgba(250, 250, 250, 0.8);
  border-radius: 7px;
}
.worker {
  width: 20px;
  height: 20px;
  background: black;
  border-radius: 40px;
  border: 3px solid black;
  display: inline-block;
  margin-right: 5px;
}
.changePay {
  height: 25px;
  border: 1px solid black;
  background: grey;
  color: white;
}
.changePay:hover {
  background: dimgrey;
}
.changePay:active {
  background: darkgrey;
}
/*.map-item:hover .tooltip {
  top: -2px;
  left: 125%;
  border-radius: 0px;
  border: 1px solid black;
  background: #6b3e2a;
  height: 25px;
  visibility: visible;
  text-align: left;
  padding: 5px;
  font-size: 17px;
}*/
#global-tooltip {
    top: -2px;
    left: 125%;
    border-radius: 0;
    border: 1px solid black;
    background: #6b3e2a;
    height: 25px;
    visibility: visible;
    text-align: left;
    padding: 5px;
    font-size: 17px;
    font-family: Sono, monospace;
    position: fixed;
    z-index: 999999;
}
.inactive {
  background: #e1d5c6;
  border: 4px solid #cbc0b0;
}
.locked {
  text-align: center; 
  font-family: Sono;
  color: #b7ab9b;
}
#version {
  position: absolute;
  top: 14px;
  left: 20px;
  font-family: Kameron;
  color: white;
  border: 2px solid #502b27;
  padding: 4px;
  background: #6b3e2a;
}
.switch {
  position: relative;
  top: -5px;
  left: 15px;
  display: none;
  width: 60px;
  height: 34px;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: grey;
  border: 1px solid dimgrey;
  -webkit-transition: .05s;
  transition: .05s;
  color: green;
}
.slider:before {
  position: absolute;
  content: "";
  height: 19px;
  width: 19px;
  left: 4px;
  bottom: 5px;
  background: #6b3e2a;
  border: 1px solid #502b27;
  outline: 1px solid grey;
  -webkit-transition: .05s;
  transition: .05s;
}
input:checked + .slider {
  background: lightgrey;
  border: 1px solid grey;
}

input:focus + .slider {
  box-shadow: 0 0 1px #6b3e2a;
  outline: 1px solid grey;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}
.switch:hover .tooltip {
  visibility: visible;
}
.greyed-out {
    filter: brightness(0.7);
    opacity: 0.6;
    background: white;
    transform: unset;
    cursor: auto;
}
.overlay {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0, 0.9);
  overflow-x: hidden;
  transition: 0.5s;
}
.overlay-content {
  position: relative;
  top: 15%;
  width: 100%;
  text-align: left;
  left: 40%;
  margin-top: 30px;
  color: white;
  font-family: Kameron;
}
.overlay .closebtn {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
}
.debug-button {
  display: inline-block;
  margin-right: 6px;
  background: transparent;
  color: white;
  border: 1px solid white;
  font-family: Kameron;
  margin-bottom: 6px;
}
.debug-button:hover {
  background: white;
  color: black;
}
.debug-button:active {
  transform: scale(0.9)
}
@media screen and (max-height: 750px){
  body {
    overflow-y: auto;
  }
}
#snackbar {
  visibility: hidden;
  min-width: 250px;
  margin-left: -125px;
  background-color: #502b27;
  opacity: 0.8;
  color: #fff;
  text-align: center;
  border-radius: 2px;
  padding: 16px;
  position: fixed;
  z-index: 1;
  left: 50%;
  bottom: 30px;
  font-size: 17px;
  font-family: Kameron;
}
#snackbar.show {
  visibility: visible;
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

@-webkit-keyframes fadein {
  from {bottom: 0; opacity: 0;} 
  to {bottom: 30px; opacity: 0.8;}
}

@keyframes fadein {
  from {bottom: 0; opacity: 0;}
  to {bottom: 30px; opacity: 0.8;}
}

@-webkit-keyframes fadeout {
  from {bottom: 30px; opacity: 0.8;} 
  to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
  from {bottom: 30px; opacity: 0.8;}
  to {bottom: 0; opacity: 0;}
}
#boxesInfo {
  margin-left: 80px; 
  margin-top: 5px; 
  border: 1px solid black; 
  background: #6b3e2a;
  padding: 10px;
  width: 105px;
  height: 15px;
  padding-top: 7px;
  color: white;
  font-family: Sono;
}
#name {
  position: absolute;
  top: 14px;
  right: 50px;
  font-family: Kameron;
  color: white;
  border: 2px solid #502b27;
  padding: 4px;
  background: #6b3e2a;
}
#name-input {
  font-family: Kameron;
  width: 35px;
  background: transparent;
  border: none;
  color: rgb(255, 255, 255);
  opacity: 200%;
  font-size: 14px;
  margin-right: -4px;
  z-index: -1;
  text-align: right;
}
#name-input:focus {
  color: lightgrey;
  border: none;
  outline: none;
  box-sizing: content-box;
  width: 100px;
  text-align: left;
}
.input-mirror {
  position: absolute;
  visibility: hidden;
  white-space: pre;
}
.input-wrapper {
  display: inline-block;
  position: relative;
}        
#gameOver {
  width: 101%;
  z-index: 500;
  position: absolute;
  color: red;
  background: black;
  height: 101%;
  left: -10px;
  top: -10px;
  text-align: center;
}
#gameOvertxt {
  position: absolute;
  top: 35%;
  left: 45%;
  font-size: 40px;
  text-align: center;
}
#gameOverbtn {
  background: black;
  color: white;
  border: 1px solid white;
  padding: 5px;
  font-size: 10px;
  margin: 5px;
}
#gameOverbtn:hover {
  color: black;
  background: white;
}
#gameOverbtn:active {
  background: red;
}
.locked-map {
  text-align: center; 
  background: #a5a2a1;  
  border: 1px solid #797574;
  color: #797574;
}

#information {
  position: absolute;
  top: 14px;
  left: 25%;
  font-family: Kameron;
  color: white;
  border: 2px solid #502b27;
  padding: 4px;
  background: #6b3e2a;
  cursor: pointer;
}
#information:hover {
  color: lightgrey;
}
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(255, 255, 255);
  background-color: rgba(255, 255, 255, 0.2);
}
.modal-content {
  position: relative;
  background: #a19b9a;
  border: 2px solid grey;
  margin: auto;
  padding: 0;
  width: 60%;
  height: 400px;
  padding-top: 5px;
}
.close {
  color: dimgrey;
  float: right;
  font-size: 28px;
  font-weight: bold;
  margin-right: 10px;
}
.close:hover, .close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
.modal-body {padding: 2px 16px;}
.information-modal {
  border: 1px solid black;
  background: #6b3e2a;
  color: white;
  width: 180px;
  padding: 4px;
  text-align: center;
}

#simulationbody {
  position: fixed;
  top: 2px;
  left: 2px;
  background: rgba(0,0,0,0.5);
  border: 1px solid white;
  padding: 4px;
  color: white;
  z-index: 10000000;
}

@keyframes idle {
  0% { transform: rotate(1deg); }
  50% { transform: rotate(-1deg); }
  100% { transform: rotate(1deg); }
}

.overlaytwo {
  pointer-events: none;
  position: fixed;
  width: 100%;
  height: 100%;
  background:
      repeating-linear-gradient(
      180deg,
      rgba(0, 0, 0, 0) 0,
      rgba(255, 255, 255, 0.1) 50%,
      rgba(0, 0, 0, 0) 100%);
  background-size: auto 4px;
  z-index: 100000000000000000000000000000000000000000000000000000000000000000000;
  animation: scan 5s infinite;
  top: 0px;
  left: 0px;
}
@keyframes scan {
  0%        { background-position: 0 -100vh; }
  100% { background-position: 0 100vh; }
}

.vignette {
  pointer-events: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  animation: vignette 0.1s infinite;
}

@keyframes vignette {
  0% {
    box-shadow: 0 0 200px rgba(0,0,0,0.4) inset;
  }
  100% {
    box-shadow: 0 0 200px rgba(0,0,0,0.39) inset;
  }
}